@font-face {
  font-family: "MyFont";
  src: 
    url("./font/Courgette-Regular.ttf"),
    url("./font/DancingScript.ttf"),
    url("./font/Lobster-Regular.ttf"),
    url("./font/Satisfy-Regular.ttf");
}


h3 {
  font-family: 'MyFont';
  color:rgb(44, 16, 16);
  font-size: 30;
  text-align: center;
}

h4 {
  text-align: center;
  color:rgb(44, 16, 16);
  font-size: 26;
  font-family: 'MyFont';
}

h5 {
  text-align: center;
  color:rgb(44, 16, 16);
  font-size: 22;
  font-family: 'MyFont';
  margin-bottom: 25;
}

p {
  color:rgb(44, 16, 16);
  font-size: 22;
  font-family: 'MyFont';
  max-width: 150;
  text-align: center;
  margin:auto
}

.chocolate img {
  border-radius: 30pc;
  width: 100;
  height: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.fabric {
  display: grid;
  grid-template-areas:  
    'left middle right';
}

.produto img {
  border-radius: 30pc;
  width: 75;
  height: 75;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.collumn {
  display: grid;
  grid-template-areas:  
    'left left right right'
    'left left right right';
}

.breve img {
  border-radius: 30pc;
  width: 55;
  height: 55;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.breve {
  display: grid;
  grid-template-areas: 
    "left middle middle right";
  margin-top: 3%;
}

.sazonal {
  display: grid;
  grid-template-areas: 
    "left right";
  margin-top: 3%;
}

@media (max-width: 600px) {
  .collumn  {
    grid-template-areas:  
      'left'  
      'right'
  }

  .chocolate img {
    width: 60;
    height: 60;
  }

  .produto img {
    width: 45;
    height: 45;
  }

  .breve img {
    width: 30;
    height: 30;
  }

  .breve {
    grid-template-areas:  
      'left'  
      'right';
  }

  .fabric {
    grid-template-areas:
      "left"
      "middle"
      "right";
  }

  .chocolate img {
    width: 60;
    height: 60;
  }

  h3 { font-size:22 }
  h4 { font-size:18 }
  h5 { font-size:14 }
  p { font-size:14 }
}