@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

header{
  background-color: rgba(185, 139, 128, 0.39);
  border-radius: 8px;
}

body {
  background: url("../../images/planodefundo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
* {  box-sizing: border-box; }

hr {
  border-top: 5px solid rgb(131, 39, 39);
  border-radius: 8px;
}

input[type=checkbox] {
  display: none;
  } 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  }

ul {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  margin-bottom: 10;
  margin-top: 0;
  font-size: 20;
  font-style: italic;
  }

li {
  float: right;
  margin-top: 15;
}

li a {
  text-decoration: none;
  color: #212121;
  display: block;
  padding: 10;
  background: none;
}

li a:hover {
  background-color: rgb(131, 39, 39);
  color: rgb(216, 213, 213);
  border-radius: 8px;
}

.site-identity {
  display: grid;
  padding-bottom: 10;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}

.site-identity img {grid-column: 1}
.site-identity ul {grid-column: 2; margin-right: 10;}

.site-identity img {
  max-width: 300;
  float: left;
  margin-left: 10;
  margin-top: 5;
}

.logo {
  width: 320;
}

.whats {
  margin-left: 10;
}

.inst {
  margin-right: 15;
}

.cont {
  margin-top: 25;
}

/*@media (max-width: 980px) {
  ul {
    display: none;
    position: absolute;
  }
  input[type=checkbox]:checked ~ ul {
    display: left;
  }
  .hamburger {
    display: block;
  }
}*/
