@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

header{
  background-color: rgba(185, 139, 128, 0.39);
  border-radius: 8px;
}

body {
  background: url("../../images/planodefundo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
* {  box-sizing: border-box; }

hr {
  border-top: 5px solid rgb(131, 39, 39);
  border-radius: 8px;
}

.site-identity {
  display: grid;
  padding-bottom: 10;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
}

.site-identity img {grid-column: 1}
.site-identity ul {grid-column: 2; margin-right: 10;}

.site-identity img {
  max-width: 300;
  float: left;
  margin-left: 10;
  margin-top: 5;
}

.logo {
  width: 320;
}

.whats {
  margin-left: 10;
}

.inst {
  margin-right: 15;
}

.cont {
  margin-top: 25;
}

input[type=checkbox] {
  display: none;
  } 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  }

ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  margin-bottom: 10;
  margin-top: 0;
  font-size: 20;
  font-style: italic;
  }

li {
  float: right;
  margin-top: 15;
}

li a {
  text-decoration: none;
  color: #212121;
  display: block;
  padding: 10;
  background: none;
}

li a:hover {
  background-color: rgb(131, 39, 39);
  color: rgb(216, 213, 213);
  border-radius: 8px;
}

/* @media (max-width: 980px) {
  ul {
    display: none;
    position: absolute;
  }
  #toggle:checked ~
    ul {
    display: block;
  }
  .hamburger {
    display: block;
  }
}*/

.img-chamar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
  animation: chamar 5s ease 0s 100 forwards;
  border-radius: 20px;
}

@keyframes chamar {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-5deg); }
  20% { transform: rotate(5deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-5deg); }
  80% { transform: rotate(5deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}

h2 {
  font-family: 'Brush Script MT', cursive;
  color:rgb(44, 16, 16);
  font-size: 42;
  text-align: center;
}

.mySlides {
  display: none;
}

.img {
  vertical-align: middle;
  margin-left: 16%;
  width: 70%;
  height: 70%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

p, .p {
  color:rgb(44, 16, 16);
  text-align: center;
  font-size: 36;
  font-family: 'Brush Script MT', cursive;
}

.exp {
  color:rgb(44, 16, 16);
  text-align: center;
  font-size: 34;
  font-family: 'Brush Script Std', cursive;
  font-style: italic;
}