@font-face {
  font-family: "MyFont";
  src: 
    url("./font/Courgette-Regular.ttf"),
    url("./font/DancingScript.ttf"),
    url("./font/Lobster-Regular.ttf"),
    url("./font/Satisfy-Regular.ttf");
}

.img-chamar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  animation: chamar 5s ease 0s 100 forwards;
  border-radius: 20px;
}

@keyframes chamar {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-5deg); }
  20% { transform: rotate(5deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-5deg); }
  80% { transform: rotate(5deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}

h2 {
  font-family: 'MyFont';
  font-style: italic;
  color:rgb(44, 16, 16);
  font-size: 34;
  text-align: center;
}

h3 {
  font-family: 'MyFont';
  font-style: italic;
  color:rgb(44, 16, 16);
  font-size: 30;
  text-align: center;
}

.mySlides {
  display: block;
}
.img {
  vertical-align: middle;
  width: 70%;
  height: 70%;
  margin: 0;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

p, .p {
  color:rgb(44, 16, 16);
  text-align: center;
  font-size: 32;
  font-family: 'MyFont';
  font-style: italic;
}

.exp {
  color:rgb(44, 16, 16);
  text-align: center;
  font-size: 28;
  font-family: 'MyFont';
  font-style: italic;
}

@media screen and (max-width: 750px) {
  
  .img-chamar {
    max-width: 350px;
  }
  h2 {
    font-size: 20;
  }
  h3 {
    font-size: 16;
  }
  p,.p {
    font-size: 20;
  }
  .exp {
    font-size: 16;
  }
  video {
    height: 250;
  }
}